In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json
import requests

%matplotlib inline

api_key = {'69ea5b146d71755552f7bf90f18e3df0119641fd'}
api_key

{'69ea5b146d71755552f7bf90f18e3df0119641fd'}

In [2]:
ACS_16_1YR_DP02 = pd.read_csv('ACS_16_1YR_DP02_with_ann.csv')
ACS_16_1YR_DP03 = pd.read_csv('ACS_16_1YR_DP03_with_ann.csv')
ACS_16_1YR_DP04 = pd.read_csv('ACS_16_1YR_DP04_with_ann.csv')
ACS_16_1YR_DP05 = pd.read_csv('ACS_16_1YR_DP05_with_ann.csv')
frames = [ACS_16_1YR_DP02, ACS_16_1YR_DP03, ACS_16_1YR_DP04, ACS_16_1YR_DP05]
ACS_16_1YR = pd.concat(frames, axis=1)

ACS_16_1YR.tail()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC108,HC04_VC108,HC01_VC109,HC02_VC109,HC03_VC109,HC04_VC109,HC01_VC110,HC02_VC110,HC03_VC110,HC04_VC110
47,0400000US51,51,Virginia,3120692,13161,3120692,(X),2063049,16402,66.1,...,6093779,(X),2956909,9915,48.5,0.1,3136870,7404,51.5,0.1
48,0400000US53,53,Washington,2768076,8506,2768076,(X),1784043,12484,64.5,...,5173515,(X),2563659,9319,49.6,0.1,2609856,8761,50.4,0.1
49,0400000US54,54,West Virginia,722125,5656,722125,(X),467396,6711,64.7,...,1438443,(X),701149,2513,48.7,0.1,737294,2033,51.3,0.1
50,0400000US55,55,Wisconsin,2326998,7745,2326998,(X),1460922,9966,62.8,...,4351720,(X),2138987,5159,49.2,0.1,2212733,3895,50.8,0.1
51,0400000US56,56,Wyoming,223619,4088,223619,(X),145524,4006,65.1,...,433794,(X),220950,2081,50.9,0.3,212844,1732,49.1,0.3

In [3]:
ACS_15_1YR_DP02 = pd.read_csv('ACS_15_1YR_DP02_with_ann.csv')
ACS_15_1YR_DP03 = pd.read_csv('ACS_15_1YR_DP03_with_ann.csv')
ACS_15_1YR_DP04 = pd.read_csv('ACS_15_1YR_DP04_with_ann.csv')
ACS_15_1YR_DP05 = pd.read_csv('ACS_15_1YR_DP05_with_ann.csv')
frames = [ACS_15_1YR_DP02, ACS_15_1YR_DP03, ACS_15_1YR_DP04, ACS_15_1YR_DP05]
ACS_15_1YR = pd.concat(frames, axis=1)

ACS_15_1YR.tail()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC108,HC04_VC108,HC01_VC109,HC02_VC109,HC03_VC109,HC04_VC109,HC01_VC110,HC02_VC110,HC03_VC110,HC04_VC110
47,0400000US51,51,Virginia,3106895,11857,3106895,(X),2054857,14080,66.1,...,6062304,(X),2946126,8969,48.6,0.1,3116178,7936,51.4,0.1
48,0400000US53,53,Washington,2728573,8477,2728573,(X),1760593,11977,64.5,...,5081800,(X),2517665,8684,49.5,0.1,2564135,8737,50.5,0.1
49,0400000US54,54,West Virginia,734536,5346,734536,(X),471947,7328,64.3,...,1451557,(X),709401,2376,48.9,0.1,742156,2028,51.1,0.1
50,0400000US55,55,Wisconsin,2319538,7046,2319538,(X),1469666,10643,63.4,...,4340567,(X),2132168,4264,49.1,0.1,2208399,3889,50.9,0.1
51,0400000US56,56,Wyoming,228937,3666,228937,(X),145470,3828,63.5,...,434584,(X),219504,1911,50.5,0.3,215080,2247,49.5,0.3

In [4]:
ACS_14_1YR_DP02 = pd.read_csv('ACS_14_1YR_DP02_with_ann.csv')
ACS_14_1YR_DP03 = pd.read_csv('ACS_14_1YR_DP03_with_ann.csv')
ACS_14_1YR_DP04 = pd.read_csv('ACS_14_1YR_DP04_with_ann.csv')
ACS_14_1YR_DP05 = pd.read_csv('ACS_14_1YR_DP05_with_ann.csv')
frames = [ACS_14_1YR_DP02, ACS_14_1YR_DP03, ACS_14_1YR_DP04, ACS_14_1YR_DP05]
ACS_14_1YR = pd.concat(frames, axis=1)

ACS_14_1YR.tail()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC101,HC04_VC101,HC01_VC102,HC02_VC102,HC03_VC102,HC04_VC102,HC01_VC104,HC02_VC104,HC03_VC104,HC04_VC104
47,0400000US51,51,Virginia,3083820,12955,3083820,(X),2058820,15546,66.8,...,0.1,0.1,221731,9710,2.7,0.1,3446585,488,(X),(X)
48,0400000US53,53,Washington,2679601,9916,2679601,(X),1725099,12755,64.4,...,0.1,0.1,308586,9229,4.4,0.1,2963293,257,(X),(X)
49,0400000US54,54,West Virginia,735375,6298,735375,(X),472869,8027,64.3,...,0.1,0.1,27870,2959,1.5,0.2,884574,231,(X),(X)
50,0400000US55,55,Wisconsin,2307685,7753,2307685,(X),1485877,10597,64.4,...,0.0,0.1,95589,5185,1.7,0.1,2648342,755,(X),(X)
51,0400000US56,56,Wyoming,232594,2987,232594,(X),149032,3982,64.1,...,0.0,0.1,10204,2100,1.7,0.4,268205,116,(X),(X)

In [5]:
ACS_13_1YR_DP02 = pd.read_csv('ACS_13_1YR_DP02_with_ann.csv')
ACS_13_1YR_DP03 = pd.read_csv('ACS_13_1YR_DP03_with_ann.csv')
ACS_13_1YR_DP04 = pd.read_csv('ACS_13_1YR_DP04_with_ann.csv')
ACS_13_1YR_DP05 = pd.read_csv('ACS_13_1YR_DP05_with_ann.csv')
frames = [ACS_13_1YR_DP02, ACS_13_1YR_DP03, ACS_13_1YR_DP04, ACS_13_1YR_DP05]
ACS_13_1YR = pd.concat(frames, axis=1)

ACS_13_1YR.tail()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC101,HC04_VC101,HC01_VC102,HC02_VC102,HC03_VC102,HC04_VC102,HC01_VC104,HC02_VC104,HC03_VC104,HC04_VC104
47,0400000US51,51,Virginia,3055863,11608,3055863,(X),2049184,16114,67.1,...,0.1,0.1,220578,9996,2.7,0.1,3412577,461,(X),(X)
48,0400000US53,53,Washington,2644557,11069,2644557,(X),1705112,13920,64.5,...,0.1,0.1,283051,10917,4.1,0.2,2928300,262,(X),(X)
49,0400000US54,54,West Virginia,738653,5969,738653,(X),479389,7296,64.9,...,0.0,0.1,32161,2720,1.7,0.1,879424,204,(X),(X)
50,0400000US55,55,Wisconsin,2289424,8727,2289424,(X),1458482,10630,63.7,...,0.0,0.1,96635,5489,1.7,0.1,2633420,384,(X),(X)
51,0400000US56,56,Wyoming,224003,3223,224003,(X),148556,4206,66.3,...,0.0,0.1,11940,1901,2.0,0.3,265471,91,(X),(X)

In [6]:
ACS_12_1YR_DP02 = pd.read_csv('ACS_12_1YR_DP02_with_ann.csv')
ACS_12_1YR_DP03 = pd.read_csv('ACS_12_1YR_DP03_with_ann.csv')
ACS_12_1YR_DP04 = pd.read_csv('ACS_12_1YR_DP04_with_ann.csv')
ACS_12_1YR_DP05 = pd.read_csv('ACS_12_1YR_DP05_with_ann.csv')
frames = [ACS_12_1YR_DP02, ACS_12_1YR_DP03, ACS_12_1YR_DP04, ACS_12_1YR_DP05]
ACS_12_1YR = pd.concat(frames, axis=1)

ACS_12_1YR.tail()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC95,HC04_VC95,HC01_VC96,HC02_VC96,HC03_VC96,HC04_VC96,HC01_VC98,HC02_VC98,HC03_VC98,HC04_VC98
47,0400000US51,51,Virginia,3038967,13344,3038967,(X),2044422,13958,67.3,...,0.1,0.1,205259,9355,2.5,0.1,3398389,463,(X),(X)
48,0400000US53,53,Washington,2636817,10074,2636817,(X),1687786,13965,64.0,...,0.1,0.1,279730,10123,4.1,0.1,2914775,266,(X),(X)
49,0400000US54,54,West Virginia,741544,5473,741544,(X),471536,7578,63.6,...,0.0,0.1,33081,3119,1.8,0.2,882800,188,(X),(X)
50,0400000US55,55,Wisconsin,2288362,8293,2288362,(X),1461573,10805,63.9,...,0.1,0.1,89955,5847,1.6,0.1,2632625,287,(X),(X)
51,0400000US56,56,Wyoming,223513,2812,223513,(X),146745,3551,65.7,...,0.1,0.1,12733,1575,2.2,0.3,265207,118,(X),(X)

In [7]:
ACS_11_1YR_DP02 = pd.read_csv('ACS_11_1YR_DP02_with_ann.csv')
ACS_11_1YR_DP03 = pd.read_csv('ACS_11_1YR_DP03_with_ann.csv')
ACS_11_1YR_DP04 = pd.read_csv('ACS_11_1YR_DP04_with_ann.csv')
ACS_11_1YR_DP05 = pd.read_csv('ACS_11_1YR_DP05_with_ann.csv')
frames = [ACS_11_1YR_DP02, ACS_11_1YR_DP03, ACS_11_1YR_DP04, ACS_11_1YR_DP05]
ACS_11_1YR = pd.concat(frames, axis=1)

ACS_11_1YR.tail()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC95,HC04_VC95,HC01_VC96,HC02_VC96,HC03_VC96,HC04_VC96,HC01_VC98,HC02_VC98,HC03_VC98,HC04_VC98
47,0400000US51,51,Virginia,2990650,13887,2990650,(X),2010914,15488,67.2,...,0.1,0.1,187759,12331,2.3,0.2,3387801,429,(X),(X)
48,0400000US53,53,Washington,2632621,9876,2632621,(X),1699851,11753,64.6,...,0.1,0.1,261721,10563,3.8,0.2,2907605,257,(X),(X)
49,0400000US54,54,West Virginia,735408,6147,735408,(X),477809,7963,65.0,...,0.0,0.1,35844,2699,1.9,0.1,881821,210,(X),(X)
50,0400000US55,55,Wisconsin,2275352,8388,2275352,(X),1462927,12624,64.3,...,0.0,0.1,93470,5502,1.6,0.1,2634806,1169,(X),(X)
51,0400000US56,56,Wyoming,222539,3310,222539,(X),142618,4167,64.1,...,0.0,0.1,10130,1715,1.8,0.3,265554,96,(X),(X)

In [8]:
ACS_10_1YR_DP02 = pd.read_csv('ACS_10_1YR_DP02_with_ann.csv')
ACS_10_1YR_DP03 = pd.read_csv('ACS_10_1YR_DP03_with_ann.csv')
ACS_10_1YR_DP04 = pd.read_csv('ACS_10_1YR_DP04_with_ann.csv')
ACS_10_1YR_DP05 = pd.read_csv('ACS_10_1YR_DP05_with_ann.csv')
frames = [ACS_10_1YR_DP02, ACS_10_1YR_DP03, ACS_10_1YR_DP04, ACS_10_1YR_DP05]
ACS_10_1YR = pd.concat(frames, axis=1)

ACS_10_1YR.tail()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC95,HC04_VC95,HC01_VC96,HC02_VC96,HC03_VC96,HC04_VC96,HC01_VC98,HC02_VC98,HC03_VC98,HC04_VC98
47,0400000US51,51,Virginia,2992732,14604,2992732,(X),2013520,16738,67.3,...,0.1,0.1,175922,8272,2.2,0.1,3368674,1668,(X),(X)
48,0400000US53,53,Washington,2606863,9745,2606863,(X),1681386,12734,64.5,...,0.1,0.1,243263,10047,3.6,0.1,2888594,688,(X),(X)
49,0400000US54,54,West Virginia,741940,5724,741940,(X),485652,6805,65.5,...,0.0,0.1,31917,2765,1.7,0.1,882213,182,(X),(X)
50,0400000US55,55,Wisconsin,2279532,9375,2279532,(X),1453332,10977,63.8,...,0.0,0.1,91196,5710,1.6,0.1,2625477,440,(X),(X)
51,0400000US56,56,Wyoming,222803,3575,222803,(X),147394,3852,66.2,...,0.1,0.1,7566,1191,1.3,0.2,262286,109,(X),(X)

In [9]:
ACS_09_1YR_DP02 = pd.read_csv('ACS_09_1YR_DP2_with_ann.csv')
ACS_09_1YR_DP03 = pd.read_csv('ACS_09_1YR_DP3_with_ann.csv')
ACS_09_1YR_DP04 = pd.read_csv('ACS_09_1YR_DP4_with_ann.csv')
ACS_09_1YR_DP05 = pd.read_csv('ACS_09_1YR_DP5_with_ann.csv')
frames = [ACS_09_1YR_DP02, ACS_09_1YR_DP03, ACS_09_1YR_DP04, ACS_09_1YR_DP05]
ACS_09_1YR = pd.concat(frames, axis=1)

ACS_09_1YR.tail()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC02,HC01_MOE_VC02,HC02_EST_VC02,HC02_MOE_VC02,HC01_EST_VC03,HC01_MOE_VC03,HC02_EST_VC03,...,HC02_EST_VC83,HC02_MOE_VC83,HC01_EST_VC84,HC01_MOE_VC84,HC02_EST_VC84,HC02_MOE_VC84,HC01_EST_VC85,HC01_MOE_VC85,HC02_EST_VC85,HC02_MOE_VC85
47,0400000US51,51,Virginia,2971489,12961,2971489,(X),1987501,16748,66.9,...,0.1,0.1,148301,9482,1.9,0.1,3330481,1255,(X),(X)
48,0400000US53,53,Washington,2559288,9514,2559288,(X),1650519,12840,64.5,...,0.1,0.1,226593,10078,3.4,0.2,2814297,480,(X),(X)
49,0400000US54,54,West Virginia,748517,6008,748517,(X),492279,6996,65.8,...,0.0,0.1,28901,3327,1.6,0.2,893766,227,(X),(X)
50,0400000US55,55,Wisconsin,2272274,8949,2272274,(X),1476615,10171,65.0,...,0.0,0.1,70940,5135,1.3,0.1,2584342,1836,(X),(X)
51,0400000US56,56,Wyoming,213571,2941,213571,(X),143459,3621,67.2,...,0.0,0.1,9138,1427,1.7,0.3,249404,148,(X),(X)

In [10]:
ACS_08_1YR_DP02 = pd.read_csv('ACS_08_1YR_DP2_with_ann.csv')
ACS_08_1YR_DP03 = pd.read_csv('ACS_08_1YR_DP3_with_ann.csv')
ACS_08_1YR_DP04 = pd.read_csv('ACS_08_1YR_DP4_with_ann.csv')
ACS_08_1YR_DP05 = pd.read_csv('ACS_08_1YR_DP5_with_ann.csv')
frames = [ACS_08_1YR_DP02, ACS_08_1YR_DP03, ACS_08_1YR_DP04, ACS_08_1YR_DP05]
ACS_08_1YR = pd.concat(frames, axis=1)

ACS_08_1YR.tail()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC02,HC01_MOE_VC02,HC02_EST_VC02,HC02_MOE_VC02,HC01_EST_VC03,HC01_MOE_VC03,HC02_EST_VC03,...,HC02_EST_VC83,HC02_MOE_VC83,HC01_EST_VC84,HC01_MOE_VC84,HC02_EST_VC84,HC02_MOE_VC84,HC01_EST_VC85,HC01_MOE_VC85,HC02_EST_VC85,HC02_MOE_VC85
47,0400000US51,51,Virginia,2961083,11010,2961083,(X),1999409,13933,67.5,...,0.1,0.1,130029,9124,1.7,0.1,3306473,789,(X),(X)
48,0400000US53,53,Washington,2547663,9073,2547663,(X),1636755,14806,64.2,...,0.1,0.1,213331,8287,3.3,0.1,2791765,833,(X),(X)
49,0400000US54,54,West Virginia,749586,6455,749586,(X),491152,6977,65.5,...,0.0,0.1,23532,2974,1.3,0.2,886419,220,(X),(X)
50,0400000US55,55,Wisconsin,2249630,8922,2249630,(X),1467796,10918,65.2,...,0.1,0.1,70782,5579,1.3,0.1,2568752,1014,(X),(X)
51,0400000US56,56,Wyoming,208613,3448,208613,(X),135678,3475,65.0,...,0.1,0.1,10413,1595,2.0,0.3,246418,112,(X),(X)

In [11]:
ACS_07_1YR_DP02 = pd.read_csv('ACS_07_1YR_DP2_with_ann.csv')
ACS_07_1YR_DP03 = pd.read_csv('ACS_07_1YR_DP3_with_ann.csv')
ACS_07_1YR_DP04 = pd.read_csv('ACS_07_1YR_DP4_with_ann.csv')
ACS_07_1YR_DP05 = pd.read_csv('ACS_07_1YR_DP5_with_ann.csv')
frames = [ACS_07_1YR_DP02, ACS_07_1YR_DP03, ACS_07_1YR_DP04, ACS_07_1YR_DP05]
ACS_07_1YR = pd.concat(frames, axis=1)

ACS_07_1YR.tail()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC02,HC01_MOE_VC02,HC02_EST_VC02,HC02_MOE_VC02,HC01_EST_VC03,HC01_MOE_VC03,HC02_EST_VC03,...,HC02_EST_VC83,HC02_MOE_VC83,HC01_EST_VC84,HC01_MOE_VC84,HC02_EST_VC84,HC02_MOE_VC84,HC01_EST_VC85,HC01_MOE_VC85,HC02_EST_VC85,HC02_MOE_VC85
47,0400000US51,51,Virginia,2932234,11822,100,(X),1964204,15049,67.0,...,0.1,0.1,126835,7239,1.6,0.1,3273206,709,100,(X)
48,0400000US53,53,Washington,2501509,8669,100,(X),1619537,11679,64.7,...,0.1,0.1,194664,8459,3.0,0.1,2744324,270,100,(X)
49,0400000US54,54,West Virginia,733849,6909,100,(X),491383,7377,67.0,...,0.0,0.1,18884,2416,1.0,0.1,882631,192,100,(X)
50,0400000US55,55,Wisconsin,2241597,8249,100,(X),1461841,11443,65.2,...,0.0,0.1,59432,4677,1.1,0.1,2558278,1073,100,(X)
51,0400000US56,56,Wyoming,206136,3069,100,(X),135066,3714,65.5,...,0.0,0.1,10570,1765,2.0,0.3,242344,78,100,(X)

In [12]:
dataframes = [ACS_16_1YR, ACS_15_1YR, ACS_14_1YR, ACS_13_1YR, ACS_12_1YR, ACS_11_1YR, ACS_10_1YR, ACS_09_1YR, ACS_08_1YR, ACS_07_1YR]
ACS = pd.concat(dataframes, axis=1)
ACS.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC02_EST_VC83,HC02_MOE_VC83,HC01_EST_VC84,HC01_MOE_VC84,HC02_EST_VC84,HC02_MOE_VC84,HC01_EST_VC85,HC01_MOE_VC85,HC02_EST_VC85,HC02_MOE_VC85
0,Id,Id2,Geography,Estimate; HOUSEHOLDS BY TYPE - Total households,Margin of Error; HOUSEHOLDS BY TYPE - Total ho...,Percent; HOUSEHOLDS BY TYPE - Total households,Percent Margin of Error; HOUSEHOLDS BY TYPE - ...,Estimate; HOUSEHOLDS BY TYPE - Total household...,Margin of Error; HOUSEHOLDS BY TYPE - Total ho...,Percent; HOUSEHOLDS BY TYPE - Total households...,...,Percent; Estimate; HISPANIC OR LATINO AND RACE...,Percent; Margin of Error; HISPANIC OR LATINO A...,Number; Estimate; HISPANIC OR LATINO AND RACE ...,Number; Margin of Error; HISPANIC OR LATINO AN...,Percent; Estimate; HISPANIC OR LATINO AND RACE...,Percent; Margin of Error; HISPANIC OR LATINO A...,Number; Estimate; Total housing units,Number; Margin of Error; Total housing units,Percent; Estimate; Total housing units,Percent; Margin of Error; Total housing units
1,0400000US01,01,Alabama,1852518,12189,1852518,(X),1208362,12930,65.2,...,0.0,0.1,53856,4504,1.2,0.1,2137012,173,100,(X)
2,0400000US02,02,Alaska,248468,2841,248468,(X),164102,4083,66.0,...,0.0,0.1,41898,3766,6.1,0.6,282271,98,100,(X)
3,0400000US04,04,Arizona,2519052,11479,2519052,(X),1648739,12489,65.5,...,0.1,0.1,80752,6661,1.3,0.1,2667550,158,100,(X)
4,0400000US05,05,Arkansas,1142718,7341,1142718,(X),747917,9249,65.5,...,0.0,0.1,40419,3275,1.4,0.1,1287472,410,100,(X)

In [13]:
ACS.tail()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC02_EST_VC83,HC02_MOE_VC83,HC01_EST_VC84,HC01_MOE_VC84,HC02_EST_VC84,HC02_MOE_VC84,HC01_EST_VC85,HC01_MOE_VC85,HC02_EST_VC85,HC02_MOE_VC85
47,0400000US51,51,Virginia,3120692,13161,3120692,(X),2063049,16402,66.1,...,0.1,0.1,126835,7239,1.6,0.1,3273206,709,100,(X)
48,0400000US53,53,Washington,2768076,8506,2768076,(X),1784043,12484,64.5,...,0.1,0.1,194664,8459,3.0,0.1,2744324,270,100,(X)
49,0400000US54,54,West Virginia,722125,5656,722125,(X),467396,6711,64.7,...,0.0,0.1,18884,2416,1.0,0.1,882631,192,100,(X)
50,0400000US55,55,Wisconsin,2326998,7745,2326998,(X),1460922,9966,62.8,...,0.0,0.1,59432,4677,1.1,0.1,2558278,1073,100,(X)
51,0400000US56,56,Wyoming,223619,4088,223619,(X),145524,4006,65.1,...,0.0,0.1,10570,1765,2.0,0.3,242344,78,100,(X)

In [14]:
ACS.rename(columns={'Geography': 'State', 'Id2': 'ID'}, inplace=True)

In [15]:
ACS = ACS.reindex(ACS.index.drop(0)).drop('Id', axis=1)
ACS

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC02_EST_VC83,HC02_MOE_VC83,HC01_EST_VC84,HC01_MOE_VC84,HC02_EST_VC84,HC02_MOE_VC84,HC01_EST_VC85,HC01_MOE_VC85,HC02_EST_VC85,HC02_MOE_VC85
1,0400000US01,01,Alabama,1852518,12189,1852518,(X),1208362,12930,65.2,...,0.0,0.1,53856,4504,1.2,0.1,2137012,173,100,(X)
2,0400000US02,02,Alaska,248468,2841,248468,(X),164102,4083,66.0,...,0.0,0.1,41898,3766,6.1,0.6,282271,98,100,(X)
3,0400000US04,04,Arizona,2519052,11479,2519052,(X),1648739,12489,65.5,...,0.1,0.1,80752,6661,1.3,0.1,2667550,158,100,(X)
4,0400000US05,05,Arkansas,1142718,7341,1142718,(X),747917,9249,65.5,...,0.0,0.1,40419,3275,1.4,0.1,1287472,410,100,(X)
5,0400000US06,06,California,12944178,15703,12944178,(X),8887761,26268,68.7,...,0.1,0.1,706445,15615,1.9,0.1,13308705,472,100,(X)
6,0400000US08,08,Colorado,2108992,7767,2108992,(X),1347936,10110,63.9,...,0.1,0.1,77790,5794,1.6,0.1,2127358,233,100,(X)
7,0400000US09,09,Connecticut,1357269,7141,1357269,(X),880600,11466,64.9,...,0.1,0.1,44901,4552,1.3,0.1,1438548,141,100,(X)
8,0400000US10,10,Delaware,351085,3936,351085,(X),232433,5605,66.2,...,0.0,0.1,14460,2720,1.7,0.3,388619,77,100,(X)
9,0400000US11,11,District of Columbia,281241,3152,281241,(X),122732,3407,43.6,...,0.1,0.1,7886,1554,1.3,0.3,284235,48,100,(X)
10,0400000US12,12,Florida,7573456,23478,7573456,(X),4864461,24241,64.2,...,0.1,0.1,200846,10042,1.1,0.1,8716601,1360,100,(X)
11,0400000US13,13,Georgia,3686135,15528,3686135,(X),2479003,18252,67.3,...,0.0,0.1,94185,7146,1.0,0.1,3961643,506,100,(X)
12,0400000US15,15,Hawaii,455868,4824,455868,(X),315505,5105,69.2,...,0.2,0.1,241298,9607,18.8,0.7,506751,76,100,(X)
13,0400000US16,16,Idaho,610872,4143,610872,(X),411617,7286,67.4,...,0.0,0.1,25671,2363,1.7,0.2,631022,332,100,(X)
14,0400000US17,17,Illinois,4822046,12932,4822046,(X),3100613,17145,64.3,...,0.1,0.1,129644,7787,1.0,0.1,5246116,495,100,(X)
15,0400000US18,18,Indiana,2533270,10440,2533270,(X),1645758,11176,65.0,...,0.0,0.1,88705,5594,1.4,0.1,2777953,495,100,(X)
16,0400000US19,19,Iowa,1247932,7106,1247932,(X),795043,8419,63.7,...,0.0,0.1,33507,3210,1.1,0.1,1329388,638,100,(X)
17,0400000US20,20,Kansas,1110407,6778,1110407,(X),716005,8245,64.5,...,0.0,0.1,56414,4300,2.0,0.2,1219100,516,100,(X)
18,0400000US21,21,Kentucky,1717706,9131,1717706,(X),1121404,10897,65.3,...,0.0,0.1,46540,4632,1.1,0.1,1906198,285,100,(X)
19,0400000US22,22,Louisiana,1720801,8997,1720801,(X),1097712,12285,63.8,...,0.0,0.1,46756,5668,1.1,0.1,1858586,526,100,(X)
20,0400000US23,23,Maine,531660,5774,531660,(X),329554,6035,62.0,...,0.0,0.1,21577,2664,1.6,0.2,696681,223,100,(X)
21,0400000US24,24,Maryland,2194657,9484,2194657,(X),1458953,11514,66.5,...,0.1,0.1,93513,6934,1.7,0.1,2318430,314,100,(X)
22,0400000US25,25,Massachusetts,2579398,8290,2579398,(X),1633661,12099,63.3,...,0.1,0.1,79032,6176,1.2,0.1,2722323,197,100,(X)
23,0400000US26,26,Michigan,3884153,13696,3884153,(X),2476595,14487,63.8,...,0.0,0.1,157576,7624,1.6,0.1,4526914,769,100,(X)
24,0400000US27,27,Minnesota,2148725,7378,2148725,(X),1367104,9317,63.6,...,0.0,0.1,80372,5672,1.5,0.1,2304473,390,100,(X)
25,0400000US28,28,Mississippi,1091245,8803,1091245,(X),730719,10889,67.0,...,0.0,0.1,23876,4129,0.8,0.1,1254936,452,100,(X)
26,0400000US29,29,Missouri,2372190,10844,2372190,(X),1527349,11298,64.4,...,0.0,0.1,95519,6532,1.6,0.1,2647379,264,100,(X)
27,0400000US30,30,Montana,416125,4426,416125,(X),257449,5388,61.9,...,0.0,0.1,19575,2457,2.0,0.3,435586,96,100,(X)
28,0400000US31,31,Nebraska,747562,4452,747562,(X),476436,5393,63.7,...,0.0,0.1,29730,3082,1.7,0.2,780592,313,100,(X)
29,0400000US32,32,Nevada,1055158,6433,1055158,(X),670968,8716,63.6,...,0.1,0.1,54100,4499,2.1,0.2,1102409,129,100,(X)
30,0400000US33,33,New Hampshire,520643,5191,520643,(X),342912,5731,65.9,...,0.0,0.1,13237,1964,1.0,0.1,594126,93,100,(X)
31,0400000US34,34,New Jersey,3194519,10274,3194519,(X),2197150,15175,68.8,...,0.1,0.1,85665,6267,1.0,0.1,3498786,1060,100,(X)
32,0400000US35,35,New Mexico,758364,6296,758364,(X),481127,7528,63.4,...,0.1,0.1,21256,2658,1.1,0.1,862095,109,100,(X)
33,0400000US36,36,New York,7209054,17665,7209054,(X),4541583,22755,63.0,...,0.1,0.1,213212,11030,1.1,0.1,7940072,295,100,(X)
34,0400000US37,37,North Carolina,3882423,16063,3882423,(X),2542663,18509,65.5,...,0.0,0.1,114723,7626,1.3,0.1,4124066,1181,100,(X)
35,0400000US38,38,North Dakota,315134,3356,315134,(X),184904,4823,58.7,...,0.0,0.1,9816,1704,1.5,0.3,310438,182,100,(X)
36,0400000US39,39,Ohio,4624669,14929,4624669,(X),2929661,16417,63.3,...,0.0,0.1,160291,7660,1.4,0.1,5065254,352,100,(X)
37,0400000US40,40,Oklahoma,1469342,7193,1469342,(X),961731,8307,65.5,...,0.1,0.1,195127,9530,5.4,0.3,1623100,320,100,(X)
38,0400000US41,41,Oregon,1571678,6691,1571678,(X),995749,11239,63.4,...,0.1,0.1,97199,5823,2.6,0.2,1609764,199,100,(X)
39,0400000US42,42,Pennsylvania,4937771,13721,4937771,(X),3150563,15900,63.8,...,0.1,0.1,130613,6544,1.1,0.1,5478158,356,100,(X)
40,0400000US44,44,Rhode Island,408239,4139,408239,(X),247448,5295,60.6,...,0.2,0.1,13837,2242,1.3,0.2,450877,123,100,(X)
41,0400000US45,45,South Carolina,1877887,10574,1877887,(X),1224695,13377,65.2,...,0.0,0.1,47139,5304,1.1,0.1,2022033,174,100,(X)
42,0400000US46,46,South Dakota,334003,3659,334003,(X),209986,3966,62.9,...,0.0,0.1,11749,2196,1.5,0.3,356264,556,100,(X)
43,0400000US47,47,Tennessee,2556332,11690,2556332,(X),1670605,13670,65.4,...,0.0,0.1,67183,4814,1.1,0.1,2724929,342,100,(X)
44,0400000US48,48,Texas,9535612,20125,9535612,(X),6602215,26303,69.2,...,0.1,0.1,235797,10639,1.0,0.1,9433119,468,100,(X)
45,0400000US49,49,Utah,943147,4975,943147,(X),711124,7895,75.4,...,0.0,0.1,36979,3487,1.4,0.1,925295,123,100,(X)
46,0400000US50,50,Vermont,254851,2815,254851,(X),154421,3800,60.6,...,0.0,0.1,8601,1202,1.4,0.2,311420,135,100,(X)
47,0400000US51,51,Virginia,3120692,13161,3120692,(X),2063049,16402,66.1,...,0.1,0.1,126835,7239,1.6,0.1,3273206,709,100,(X)
48,0400000US53,53,Washington,2768076,8506,2768076,(X),1784043,12484,64.5,...,0.1,0.1,194664,8459,3.0,0.1,2744324,270,100,(X)
49,0400000US54,54,West Virginia,722125,5656,722125,(X),467396,6711,64.7,...,0.0,0.1,18884,2416,1.0,0.1,882631,192,100,(X)
50,0400000US55,55,Wisconsin,2326998,7745,2326998,(X),1460922,9966,62.8,...,0.0,0.1,59432,4677,1.1,0.1,2558278,1073,100,(X)
51,0400000US56,56,Wyoming,223619,4088,223619,(X),145524,4006,65.1,...,0.0,0.1,10570,1765,2.0,0.3,242344,78,100,(X)

In [16]:
ACS.dtypes.value_counts()

object    20272
dtype: int64

In [39]:
pd.to_numeric(ACS[(:, 3:)], errors='coerce')

SyntaxError: invalid syntax (<ipython-input-39-f43f5a0c10c9>, line 1)

In [48]:
ACS[['HC01_VC03', 'HC02_VC03']].apply(pd.to_numeric)

ValueError: ('Unable to parse string "*****" at position 0', 'occurred at index HC02_VC03')

In [49]:
ACS[['HC01_VC03', 'HC02_VC03']]

,HC01_VC03,HC01_VC03,HC01_VC03,HC01_VC03,HC01_VC03,HC01_VC03,HC01_VC03,HC01_VC03,HC01_VC03,HC01_VC03,...,HC02_VC03,HC02_VC03,HC02_VC03,HC02_VC03,HC02_VC03,HC02_VC03,HC02_VC03,HC02_VC03,HC02_VC03,HC02_VC03
1,1852518,3897741,2230180,4863300,1846390,3878471,2218391,4858979,1841217,3868747,...,*****,11483,314,*****,11416,249,*****,10938,364,*****
2,248468,575088,310672,741894,250185,571393,309453,738432,249659,569911,...,*****,2883,120,*****,3380,194,*****,2804,243,*****
3,2519052,5483490,2961136,6931071,2463008,5393214,2929173,6828065,2428743,5290469,...,*****,11611,347,*****,12130,369,*****,12895,629,*****
4,1142718,2358465,1354801,2988248,1144663,2352507,1347598,2978204,1131288,2343443,...,*****,7351,186,*****,7837,234,*****,8104,388,*****
5,12944178,31191530,14061375,39250017,12896357,31068647,13988399,39144818,12758648,30704439,...,*****,18433,757,*****,22250,730,*****,16820,1131,*****
6,2108992,4417829,2339140,5540545,2074735,4333738,2309122,5456574,2039592,4238297,...,*****,8553,335,*****,9057,359,*****,9151,463,*****
7,1357269,2919678,1499145,3576452,1343703,2922877,1496056,3590886,1355817,2919245,...,*****,6453,192,*****,7309,230,*****,7109,264,*****
8,351085,771059,426154,952065,352595,765250,421734,945934,349743,754226,...,*****,3122,130,*****,3426,736,*****,4178,123,*****
9,281241,569932,313703,681170,281787,564206,309596,672228,277378,555126,...,*****,3138,68,*****,3200,51,*****,3730,63,*****
10,7573456,16950176,9302140,20612439,7463184,16640196,9210287,20271272,7328046,16308785,...,*****,25102,639,*****,31131,1180,*****,25739,955,*****
11,3686135,8085411,4219103,10310371,3656407,7998548,4182228,10214860,3587521,7881211,...,*****,15691,489,*****,15336,411,*****,15694,577,*****
12,455868,1152321,537170,1428557,445936,1152884,532413,1431603,450769,1143931,...,*****,4282,108,*****,5562,118,*****,4223,71,*****
13,610872,1296599,700829,1683140,597421,1270851,692482,1654930,591587,1250127,...,*****,5317,198,*****,6204,189,*****,5739,244,*****
14,4822046,10222986,5327165,12801539,4794523,10240058,5317618,12859995,4772421,10240928,...,*****,13140,1419,*****,12865,1208,*****,13579,938,*****
15,2533270,5239497,2854595,6633053,2515143,5215392,2841450,6619680,2502739,5192037,...,*****,10833,339,*****,11107,396,*****,11185,482,*****
16,1247932,2489194,1380087,3134693,1247249,2475140,1369379,3123899,1241471,2463632,...,*****,6132,221,*****,7072,287,*****,6610,361,*****
17,1110407,2273338,1259870,2907289,1111582,2270108,1253889,2911641,1109280,2259733,...,*****,5555,222,*****,5567,367,*****,6952,578,*****
18,1717706,3542057,1965577,4436974,1716168,3531385,1957133,4425092,1712094,3509151,...,*****,8109,391,*****,9367,270,*****,9801,335,*****
19,1720801,3690800,2037067,4681666,1737908,3676681,2024737,4670724,1718194,3655824,...,*****,9205,355,*****,9725,263,*****,9615,323,*****
20,531660,1108711,730786,1331479,545226,1103834,729392,1329328,549841,1102244,...,*****,4451,192,*****,5238,249,*****,5576,148,*****
21,2194657,4819956,2447211,6016447,2177934,4814546,2434465,6006401,2165438,4775143,...,*****,7667,398,*****,9936,329,*****,8728,340,*****
22,2579398,5601991,2858087,6811779,2559951,5578648,2845805,6794422,2549336,5520206,...,*****,9088,204,*****,9349,246,*****,10488,486,*****
23,3884153,8002285,4560164,9928300,3858532,7982332,4550324,9922576,3834574,7957568,...,*****,10789,464,*****,14208,338,*****,12287,689,*****
24,2148725,4375523,2409701,5519952,2147262,4349038,2397081,5489594,2129195,4318075,...,*****,6274,907,*****,7824,405,*****,8178,475,*****
25,1091245,2349401,1307492,2988726,1104371,2345713,1300932,2992333,1095823,2338899,...,*****,7826,220,*****,8431,248,*****,8323,575,*****
26,2372190,4865244,2760226,6093000,2374180,4851761,2746644,6083672,2354809,4827523,...,*****,11280,435,*****,10807,319,*****,10288,363,*****
27,416125,838974,497749,1042520,414804,829911,494222,1032949,410962,822974,...,*****,3977,150,*****,4567,119,*****,4175,171,*****
28,747562,1484034,827191,1907116,744159,1476487,820925,1896190,740765,1462485,...,*****,4667,215,*****,4514,185,*****,4689,347,*****
29,1055158,2339612,1221759,2940058,1042065,2292699,1209864,2890845,1021519,2251404,...,*****,7913,330,*****,9598,133,*****,6963,197,*****
30,520643,1108050,625337,1334795,517615,1102089,622604,1330608,519756,1094383,...,*****,4650,115,*****,4150,142,*****,4523,180,*****
31,3194519,7197473,3604688,8944469,3187963,7193921,3593722,8958013,3194844,7166696,...,*****,8893,1536,*****,9918,312,*****,11815,429,*****
32,758364,1650960,917641,2081015,761797,1642487,914979,2085109,760916,1639468,...,*****,5964,291,*****,6715,178,*****,5603,374,*****
33,7209054,16048423,8232039,19745289,7233694,16066508,8207161,19795791,7282398,16001813,...,*****,16375,1019,*****,18167,706,*****,16507,1124,*****
34,3882423,8115833,4540697,10146788,3843745,8011388,4491090,10042802,3790620,7900178,...,*****,14347,520,*****,19202,384,*****,14413,1587,*****
35,315134,600126,368545,757953,313475,603014,362889,756928,305431,589297,...,*****,2708,132,*****,2528,121,*****,3191,364,*****
36,4624669,9318105,5164400,11614373,4606655,9295255,5156546,11613423,4593172,9262560,...,*****,11606,400,*****,15280,397,*****,15956,797,*****
37,1469342,3063649,1721072,3923561,1465951,3053371,1711515,3911338,1459759,3029228,...,*****,5298,511,*****,7338,191,*****,7544,288,*****
38,1571678,3327652,1732887,4093465,1553205,3268296,1718509,4028977,1535511,3210388,...,*****,7216,205,*****,8379,278,*****,8164,322,*****
39,4937771,10427404,5611995,12784227,4956037,10429005,5603051,12802503,4945972,10405544,...,*****,11531,733,*****,13801,523,*****,14212,631,*****
40,408239,874310,462598,1056426,407484,870136,462555,1056298,409654,868108,...,*****,3010,150,*****,3948,84,*****,4265,108,*****
41,1877887,3986784,2236262,4961119,1857768,3931185,2210150,4896146,1826914,3871752,...,*****,9096,199,*****,12783,687,*****,10691,280,*****
42,334003,673517,383827,865454,339437,671301,380307,858469,334475,665564,...,*****,3111,286,*****,3255,278,*****,3470,713,*****
43,2556332,5320715,2919698,6651194,2530260,5277935,2892407,6600299,2509665,5222167,...,*****,11146,438,*****,12592,239,*****,12796,513,*****
44,9535612,21368307,10754268,27862596,9421412,21043248,10588236,27469114,9277197,20605746,...,*****,21541,788,*****,21114,1506,*****,20291,964,*****
45,943147,2228666,1054242,3051217,930980,2180281,1038065,2995919,918370,2130444,...,*****,5044,166,*****,5722,165,*****,4985,369,*****
46,254851,519521,329539,624594,254865,521616,326874,626042,257229,520279,...,*****,2853,118,*****,2656,95,*****,2727,118,*****
47,3120692,6761091,3491185,8411808,3106895,6721590,3468952,8382993,3083820,6664581,...,*****,13344,463,*****,13887,429,*****,14604,1668,*****
48,2768076,5841524,3025802,7288000,2728573,5741873,2991584,7170351,2679601,5635461,...,*****,10074,266,*****,9876,257,*****,9745,688,*****
49,722125,1499100,886710,1831102,734536,1508224,885539,1844128,735375,1510708,...,*****,5473,188,*****,6147,210,*****,5724,182,*****
50,2326998,4646895,2668443,5778709,2319538,4627790,2656669,5771337,2307685,4606827,...,*****,8293,287,*****,8388,1169,*****,9375,440,*****
51,223619,459694,270625,585501,228937,460730,269469,586107,232594,461972,...,*****,2812,118,*****,3310,96,*****,3575,109,*****

In [43]:
ACS[[:,(3:5)]].apply(pd.to_numeric)

SyntaxError: invalid syntax (<ipython-input-43-0fc136405910>, line 1)

In [26]:
TAPP_2016 = pd.read_csv('TAPP 2016 Presidential Election Results.csv')
TAPP_2016.head()

,STATE,TOTAL VOTES,Democratic Votes,Democratic Vote %,Republican Votes,Republican Vote %,Libertarian Votes,Libertarian Vote %
0,Alabama,"2,123,372","729,547",34.40%,"1,318,255",62.10%,"44,467",2.10%
1,Alaska,"318,608","116,454",36.60%,"163,387",51.30%,"18,725",5.90%
2,Arizona,"2,573,165","1,161,167",45.10%,"1,252,401",48.70%,"106,327",4.10%
3,Arkansas,"1,130,635","380,494",33.70%,"684,872",60.60%,"29,829",2.60%
4,California,"14,181,595","8,753,788",61.70%,"4,483,810",31.60%,"478,500",3.40%

In [27]:
TAPP_2016.tail()

,STATE,TOTAL VOTES,Democratic Votes,Democratic Vote %,Republican Votes,Republican Vote %,Libertarian Votes,Libertarian Vote %
47,Washington,"3,209,214","1,742,718",54.30%,"1,221,747",38.10%,"160,879",5.00%
48,West Virginia,"713,051","188,794",26.50%,"489,371",68.60%,"23,004",3.20%
49,Wisconsin,"2,976,150","1,382,536",46.50%,"1,405,284",47.20%,"106,674",3.60%
50,Wyoming,"255,849","55,973",21.90%,"174,419",68.20%,"13,287",5.20%
51,Totals,"136,559,088","65,853,516",48.20%,"62,984,824",46.10%,"4,489,221",3.30%

In [28]:
TAPP_2016.dtypes

STATE                 object
TOTAL VOTES           object
Democratic Votes      object
Democratic Vote %     object
Republican Votes      object
Republican Vote %     object
Libertarian Votes     object
Libertarian Vote %    object
dtype: object

In [29]:
TAPP_2016 = TAPP_2016[TAPP_2016.STATE != 'Totals']
TAPP_2016

,STATE,TOTAL VOTES,Democratic Votes,Democratic Vote %,Republican Votes,Republican Vote %,Libertarian Votes,Libertarian Vote %
0,Alabama,"2,123,372","729,547",34.40%,"1,318,255",62.10%,"44,467",2.10%
1,Alaska,"318,608","116,454",36.60%,"163,387",51.30%,"18,725",5.90%
2,Arizona,"2,573,165","1,161,167",45.10%,"1,252,401",48.70%,"106,327",4.10%
3,Arkansas,"1,130,635","380,494",33.70%,"684,872",60.60%,"29,829",2.60%
4,California,"14,181,595","8,753,788",61.70%,"4,483,810",31.60%,"478,500",3.40%
5,Colorado,"2,780,220","1,338,870",48.20%,"1,202,484",43.30%,"144,121",5.20%
6,Connecticut,"1,644,920","897,572",54.60%,"673,215",40.90%,"48,676",3.00%
7,Delaware,"441,590","235,603",53.40%,"185,127",41.90%,"14,757",3.30%
8,Dist. of Col.,"311,268","282,830",90.90%,"12,723",4.10%,"4,906",1.60%
9,Florida,"9,420,039","4,504,975",47.80%,"4,617,886",49.00%,"207,043",2.20%
10,Georgia,"4,092,373","1,877,963",45.90%,"2,089,104",51.00%,"125,306",3.10%
11,Hawaii,"428,937","266,891",62.20%,"128,847",30.00%,"15,954",3.70%
12,Idaho,"690,255","189,765",27.50%,"409,055",59.30%,"28,331",4.10%
13,Illinois,"5,536,424","3,090,729",55.80%,"2,146,015",38.80%,"209,596",3.80%
14,Indiana,"2,734,958","1,033,126",37.80%,"1,557,286",56.90%,"133,993",4.90%
15,Iowa,"1,566,031","653,669",41.70%,"800,983",51.10%,"59,186",3.80%
16,Kansas,"1,184,402","427,005",36.10%,"671,018",56.70%,"55,406",4.70%
17,Kentucky,"1,924,149","628,854",32.70%,"1,202,971",62.50%,"53,752",2.80%
18,Louisiana,"2,029,032","780,154",38.40%,"1,178,638",58.10%,"37,978",1.90%
19,Maine,"747,927","357,735",47.80%,"335,593",44.90%,"38,105",5.10%
20,Maryland,"2,781,446","1,677,928",60.30%,"943,169",33.90%,"79,605",2.90%
21,Massachusetts,"3,325,046","1,995,196",60.00%,"1,090,893",32.80%,"138,018",4.20%
22,Michigan,"4,799,284","2,268,839",47.30%,"2,279,543",47.50%,"172,136",3.60%
23,Minnesota,"2,944,813","1,367,716",46.40%,"1,322,951",44.90%,"112,972",3.80%
24,Mississippi,"1,209,357","485,131",40.10%,"700,714",57.90%,"14,435",1.20%
25,Missouri,"2,808,605","1,071,068",38.10%,"1,594,511",56.80%,"97,359",3.50%
26,Montana,"494,526","177,709",35.90%,"279,240",56.50%,"28,037",5.70%
27,Nebraska,"844,227","284,494",33.70%,"495,961",58.70%,"38,946",4.60%
28,Nevada,"1,125,385","539,260",47.90%,"512,058",45.50%,"37,384",3.30%
29,New Hampshire,"744,296","348,526",46.80%,"345,790",46.50%,"30,777",4.10%
30,New Jersey,"3,874,046","2,148,278",55.50%,"1,601,933",41.40%,"72,477",1.90%
31,New Mexico,"798,318","385,234",48.30%,"319,666",40.00%,"74,541",9.30%
32,New York,"7,721,453","4,556,124",59.00%,"2,819,534",36.50%,"176,598",2.30%
33,North Carolina,"4,741,564","2,189,316",46.20%,"2,362,631",49.80%,"130,126",2.70%
34,North Dakota,"344,360","93,758",27.20%,"216,794",63.00%,"21,434",6.20%
35,Ohio,"5,496,487","2,394,164",43.60%,"2,841,005",51.70%,"174,498",3.20%
36,Oklahoma,"1,452,992","420,375",28.90%,"949,136",65.30%,"83,481",5.70%
37,Oregon,"2,001,336","1,002,106",50.10%,"782,403",39.10%,"94,231",4.70%
38,Pennsylvania,"6,115,402","2,926,441",47.90%,"2,970,733",48.60%,"146,715",2.40%
39,Rhode Island,"464,144","252,525",54.40%,"180,543",38.90%,"14,746",3.20%
40,South Carolina,"2,103,027","855,373",40.70%,"1,155,389",54.90%,"49,204",2.30%
41,South Dakota,"370,093","117,458",31.70%,"227,721",61.50%,"20,850",5.60%
42,Tennessee,"2,508,027","870,695",34.70%,"1,522,925",60.70%,"70,397",2.80%
43,Texas,"8,969,226","3,877,868",43.20%,"4,685,047",52.20%,"283,492",3.20%
44,Utah,"1,131,430","310,676",27.50%,"515,231",45.50%,"39,608",3.50%
45,Vermont,"315,067","178,573",56.70%,"95,369",30.30%,"10,078",3.20%
46,Virginia,"3,982,752","1,981,473",49.80%,"1,769,443",44.40%,"118,274",3.00%
47,Washington,"3,209,214","1,742,718",54.30%,"1,221,747",38.10%,"160,879",5.00%
48,West Virginia,"713,051","188,794",26.50%,"489,371",68.60%,"23,004",3.20%
49,Wisconsin,"2,976,150","1,382,536",46.50%,"1,405,284",47.20%,"106,674",3.60%
50,Wyoming,"255,849","55,973",21.90%,"174,419",68.20%,"13,287",5.20%

In [50]:
TAPP_2016.rename({'Dist. of Col.':'District of Columbia'}, inplace=True)

KeyError: 'STATE'