In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json
import requests

from census import Census
from us import states

%matplotlib inline

In [2]:
api_key = {'69ea5b146d71755552f7bf90f18e3df0119641fd'}
api_key

{'69ea5b146d71755552f7bf90f18e3df0119641fd'}

In [44]:
df = pd.DataFrame(c.acs1dp.state(('NAME', 'DP02_0001E'), Census.ALL, year=2016))
df

   DP02_0001E                  NAME state
0     1852518               Alabama    01
1      248468                Alaska    02
2     2519052               Arizona    04
3     1142718              Arkansas    05
4    12944178            California    06
5     2108992              Colorado    08
6     1357269           Connecticut    09
7      351085              Delaware    10
8      281241  District of Columbia    11
9     7573456               Florida    12
10    3686135               Georgia    13
11     455868                Hawaii    15
12     610872                 Idaho    16
13    4822046              Illinois    17
14    2533270               Indiana    18
15    1247932                  Iowa    19
16    1110407                Kansas    20
17    1717706              Kentucky    21
18    1720801             Louisiana    22
19     531660                 Maine    23
20    2194657              Maryland    24
21    2579398         Massachusetts    25
22    3884153              Michigan    26
23    2148725             Minnesota    27
24    1091245           Mississippi    28
25    2372190              Missouri    29
26     416125               Montana    30
27     747562              Nebraska    31
28    1055158                Nevada    32
29     520643         New Hampshire    33
30    3194519            New Jersey    34
31     758364            New Mexico    35
32    7209054              New York    36
33    3882423        North Carolina    37
34     315134          North Dakota    38
35    4624669                  Ohio    39
36    1469342              Oklahoma    40
37    1571678                Oregon    41
38    4937771          Pennsylvania    42
39     408239          Rhode Island    44
40    1877887        South Carolina    45
41     334003          South Dakota    46
42    2556332             Tennessee    47
43    9535612                 Texas    48
44     943147                  Utah    49
45     254851               Vermont    50
46    3120692              Virginia    51
47    2768076            Washington    53
48     722125         West Virginia    54
49    2326998             Wisconsin    55
50     223619               Wyoming    56
51       None           Puerto Rico    72